.post {
  * {
    word-break: break-all;
  }
  h2,
  h3,
  h4 {
    font-weight: var(--chakra-fontWeights-bold);
    line-height: var(--chakra-lineHeights-short);
  }
  h2 {
    margin-block-end: var(--chakra-space-4);
    border-bottom: var(--chakra-borders-1px) var(--chakra-colors-blue-deep);
    font-size: var(--chakra-fontSizes-2xl);
  }
  h3 {
    margin: var(--chakra-space-3) auto var(--chakra-space-2);
    font-size: var(--chakra-fontSizes-xl);
  }
  h4 {
    margin: var(--chakra-space-2) auto;
    font-weight: var(--chakra-fontWeights-bold);
  }

  p {
    margin-block-end: var(--chakra-space-1);
  }

  ul,
  ol {
    margin-block-start: var(--chakra-space-2);
    padding-inline-start: var(--chakra-space-6);
    & > li {
      margin-block-end: var(--chakra-space-1);
      &::marker {
        color: var(--chakra-colors-blue-deep);
      }
      ul,
      ol {
        margin-block-start: 0;
        margin-block-end: var(--chakra-space-4);
        li {
          margin-block-end: 0;
          li {
            line-height: var(--chakra-lineHeights-base);
          }
        }
      }
    }
    a {
      display: block;
    }
  }

  a {
    color: var(--chakra-colors-blue-deep);
    &:hover,
    &:active {
      text-decoration: underline;
    }

    &[target='_blank'],
    &[href$='.pdf'],
    &[href$='.doc'],
    &[href$='.docx'],
    &[href$='.xls'],
    &[href$='.xlsx'],
    &[href$='.ppt'],
    &[href$='.pptx'] {
      position: relative;
      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: 0.375em; //6
        margin-inline-start: var(--chakra-space-1);
        background: no-repeat 50% 50% / contain;
      }
    }

    &[target='_blank'] {
      &::after {
        width: var(--chakra-fontSizes-sm);
        height: var(--chakra-fontSizes-sm);
        background-image: url('/icons/files/external-link.svg');
      }
    }

    &[href$='.pdf'],
    &[href$='.doc'],
    &[href$='.docx'],
    &[href$='.xls'],
    &[href$='.xlsx'],
    &[href$='.ppt'],
    &[href$='.pptx'] {
      &::after {
        width: var(--chakra-fontSizes-md);
        height: var(--chakra-fontSizes-md);
      }
    }
    &[href$='.pdf'] {
      &::after {
        background-image: url('/icons/files/pdf.svg');
      }
    }
    &[href$='.doc'],
    &[href$='.docx'] {
      &::after {
        background-image: url('/icons/files/doc.svg');
      }
    }
    &[href$='.xls'],
    &[href$='.xlsx'] {
      &::after {
        background-image: url('/icons/files/spreadsheet.svg');
      }
    }
    &[href$='.ppt'],
    &[href$='.pptx'] {
      &::after {
        background-image: url('/icons/files/ppt.svg');
      }
    }
  }

  pre {
    white-space: break-spaces;
  }

  iframe[title='YouTube embed'] {
    width: 100%;
  }
}
